body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background:radial-gradient(circle at 7.5% 24%, rgb(237, 161, 193) 0%, rgb(250, 178, 172) 25.5%, rgb(190, 228, 210) 62.3%, rgb(215, 248, 247) 93.8%);;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.mainapp{
  border: 2px solid black;
}

.dob{
  width:300px;
  height:25px;
}
.btn{
  height:35px;
  margin-top:10px;
  background-color: rgb(45, 115, 220);
  color:white;
  width:100px;
  border: none;
  border-radius: 7px;
  cursor: pointer;
}
.btn:hover{
  background-color:rgb(63, 126, 220);
  border:2px solid  black;
}
